.input-wrapper {
    .label {
        font-size: 16px;
        color: #2d2d2d;
        margin: 0px;
        margin-bottom: 6px;
    }

    .input {
        border: 1px solid grey;
        padding: 12px;
        outline: none;
        width: 100%;
        background-color: #f5f5f5;
        box-sizing: border-box;
    }

    .input:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 12px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        border: 1px solid rgba(81, 203, 238, 1);
    }

}